* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 16px;
}

footer {
    padding: 240px, 0px;
    background-color: #ffb142;
}

img {
    height: 200px;
}

nav {
    color: black;
    border-bottom: 1px;
    padding: 16px;
}

header {
    background-color: #33d9b2;
}

.stars {
    color: #218c74;
}

a {
    text-decoration: none;
    color: #2c2c54;
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}
